<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title> My First Django App</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/style.css/' %}">
    </head>
    <body>
        <p> <b> Chan you read this?? </b> </p>
        <p style="border-width:3px; border-style:solid; border-color:#8ed7dc; padding: 1em;">
        Learn as if you will live forever, live like you will die tomorrow. </p>
        <script type="text/javascript" src="{% static '/js/script.js/' %}"></script>
    </body>
</html>
